name: location_service_app
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_svg: ^2.0.16

  # State Management
  flutter_bloc: ^8.1.6
  equatable: ^2.0.5

  # Network
  dio: ^5.7.0

  # Functional Programming
  dartz: ^0.10.1

  # Service Locator
  get_it: ^8.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true

  assets:
    - assets/svg/
    - assets/image/
